@page "/Document"
@attribute [AllowAnonymous]
@layout LoginLayout
<h2 style="margin-bottom:20px;text-align: center;">ASP设备智能诊断工具资料大全</h2>
    <h3>一、软件安装说明</h3>
    <h4>
    <a style="color:#0d6efd" " target="_blank">http://cs-vsc.siemens.com.cn:8002/document</a><br />
    </h4>
    <h3>二、软件下载</h3>
    <h4>2.1 软件安装包下载地址：<br />
    <a href="https://csdc.siemens.com.cn/ASP" target="_blank">https://csdc.siemens.com.cn/ASP</a><br />
    2.2 dotnet运行时环境:<br />
    <a href="https://dotnet.microsoft.com/zh-cn/download/dotnet/thank-you/runtime-aspnetcore-6.0.29-windows-x64-installer" target="_blank">https://dotnet.microsoft.com/zh-cn/download/dotnet/thank-you/runtime-aspnetcore-6.0.29-windows-x64-installer</a>
    </h4>
    <h3>三、软件使用说明</h3>
    <h4>
    3.1 软件使用教学视频 <br />
    <a href="https://1847.siemens.com.cn/biz/pagearea/courselist" target="_blank">https://1847.siemens.com.cn/biz/pagearea/courselist</a><br />
    3.2 软件使用手册 <br />
    <a style="color:#0d6efd"  target="_blank">http://cs-vsc.siemens.com.cn:8002/document</a>
    </h4>
    <!-- 在这里添加更多的项目 -->  
   
@code {

}
