@page "/Login"
@layout LoginLayout
@inject NavigationManager NavigationManager


<div class="login-item login-item-floating">
    <div class="text-center">
        <h4 class="text-dark">欢迎登录设备智能诊断后台管理系统</h4>
        <h4 class="text-dark">用户登录!</h4>
    </div>
</div>

@code
{
   
}
